<%- include header %>
<div class="page">
     <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:;" class="weui_btn weui_btn_primary js_scan" data-id="timeNum" >保存</a>
            </p>
        </div>
</div>
</script>
<script type="text/html" id="tpl_code">
<div class="page">
     <a href="javascript:;" class="weui_btn weui_btn_plain_primary show" onclick="show()">显示二维码</a>
     <div id="codes"></div>
</div>
<%- include footer %>
