<%- include header %>
<div class="page">
     <a href="javascript:;" class="weui_btn weui_btn_plain_primary show" onclick="show()">显示二维码</a>
    <img src='/qrimg?text=http://blog.csdn.net/fo11ower' />
</div>
<%- include footer %>
